PORT=5002
MONGODB_URI=mongodb://localhost:27017/porter_dev
NODE_ENV=development
USER_SERVICE_URL=http://localhost:5001
DRIVER_SERVICE_URL=http://localhost:5003
TRACKING_SERVICE_URL=http://localhost:5004
